* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 38px 1fr;
}

.sub-con {
    max-width: 900px;
    margin: 0 auto;
    padding: .35em;
    overflow: hidden;
}

/* ----------------spinner-------------------- */

.spiner-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spiner-container .spin{
    width: 30px;
    height: 30px;
    border: 7px solid;
    border-color: rgb(17, 17, 20) transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

/* ---------------header--------------------- */
header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.182);
}

header .site-logo {
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5em;
    font-style: italic;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 .35em;
    }

header nav ul li .link-btn {
    text-decoration: none;
    color: black;
    padding: .15em 1.3em;
    border: 2px solid black;
    border-radius: .15em;

}

header .user-control button{
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: .13em 1.5em;
    border-radius: .25em;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    font-weight: bold;
}

header .user-control span {
    margin: 0 .3em;
    font-style: italic;
}

/*  ----------------------------user form container ---------------------------- */

.user-form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form {
    padding: 2.75em 4.5em;
    background: rgb(203, 203, 203);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form h3 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: .35em 0;
}

.form-container form .input-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .25em 0;
}

.form-container form .input-control .error {
    text-align: center;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    color: rgb(145, 1, 1);
}

.form-container form .input-control input {
    background-color: transparent;
    padding: .3em .75em;
    font-family: 'Times New Roman', Times, serif;
    font-size: .95em;
    outline: none;
    border: 2px solid rgba(141, 141, 141, 0.591);
    border-radius: .35em;
}

.form-container form .input-control input:focus {
    border-color: rgba(60, 60, 60, 0.591);
}

.btn-container {
    margin: .3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btn-container button {
    background: rgb(55, 55, 55);
    border: none;
    border-radius: .35em;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    padding: .25em 1.7em;
    color: white;
    margin: 0 .35em;
}
.btn-container .navigate {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(1, 1, 75);
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

/* -----------------------blogs---------------------------- */
.blogs {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 38px;
    padding: 0;
}

.blog-list {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.blog-list::-webkit-scrollbar {
    width: 3px;
}

.blog-list:hover::-webkit-scrollbar-track {
    background: rgb(174, 174, 174);
    border-radius: 3px;
}

.blog-list:hover::-webkit-scrollbar-thumb {
    background: rgb(118, 118, 118);
    border-radius: 3px;
}

.blog {
    background: rgb(199, 199, 199);
    padding: .5em;
    border-radius: .35em;
    margin: .75em .3em;
}

.controlers {
    width: 100%;
    margin-top: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controlers .author-date span {
    margin: 0 .5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-style: italic;
}

.controlers .btns button {
    margin: 0 .3em;
    background: transparent;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    color: rgb(47, 47, 47);
}

.form-contaner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contaner form {
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.form-contaner form textarea {
    outline: none;
    border: 2px solid rgb(184, 184, 184);
    height: 28px;
    font-family: 'Times New Roman', Times, serif;
    padding: .3em .75em;
    border-radius: .35em;
    background: whitesmoke;
    max-height: 400px;
    width: 250px;
    resize: none;
}

.form-contaner form textarea::-webkit-scrollbar {
    width: 0;
}

.form-contaner form button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 .25em;
    font-size: 1.5em;
    color: rgb(100, 100, 100);
}
